extends layout

block content
    div(class='container-fluid' style='background:#333333; min-height:100%;')
        div(class='row')
            div(class='col-sm-12' style='padding:1cm;')
                h2(class='wh' style='color:whitesmoke;') 진행중인 대회
                // carousel
        div(class='row')
                div(id='myCarousel' class='carousel slide' data-ride='carousel' style='margin:auto; background:#333333;')
                    ol(class='carousel-indicators')
                        li(data-target='#myCarousel', data-slide-to='0' class='active')
                        li(data-target='#myCarousel', data-slide-to='1')
                        li(data-target='#myCarousel', data-slide-to='2')
                    div(class='carousel-inner')
                        div(class='item active')
                            img(class='d-block img-fluid' src='http://post.phinf.naver.net/MjAxNzA0MjFfMTMg/MDAxNDkyNzQ0OTYzOTQ4.exKjUcmZrdVV96hgQeC695s9rP1Z4rHjfuLm3uhm3e8g.O4LUGB18J7xVfFgDqIoxXCYNNl-IK_w-3XsochmkxGgg.PNG/C4%DA%B5E5B0D4C0CC%C6%AE2017_C7D1C4%C4%B1%D7%B7EC_20170412_main.png?type=w1200', style='width:100%; max-height:80%; margin:auto;')
                        div(class='item')
                            img(class='d-block img-fluid' src='http://cfile25.uf.tistory.com/image/2608CF3857C78C6A247ACE', style='width:100%; margin:auto')
                        div(class='item')
                            img(class='d-block img-fluid' src='http://cfile4.uf.tistory.com/image/266F904D592BD98E2DD164', style='width:100%; margin:auto;')
                    a(class='carousel-control-prev', href='#myCarousel', data-slide='prev')
                        span(class='carousel-control-prev-icon' aria-hidden='true')
                        span(class='sr-only') Previous
                    a(class='carousel-control-next', href='#myCarousel', data-slide='next')
                        span(class='carousel-control-next-icon' aria-hidden='true')
                        span(class='sr-only') Next
