extends ../layout
block content
    ul(class='nav nav-tabs')
        li
            a(href='/mypage/info') 회원 정보
        li
            a(href='/mypage/subject') 수강한 강의
        li
            a(href='/mypage/ability') 나의 역량
        li
            a(href='/mypage/recommend') 추천 직무
    block menu