extends company_des
block scripts
    script(src = '/javascripts/cytoscape.js')
block cytoscape
    script.
        window.onload = function () {
            var cy = cytoscape({
                container: $('#left'),
                elements: [],
                style: [
                    {
                        selector: 'node',
                        style: {
                            shape: 'star',
                            'text-valign': 'center',
                            'text-outline-width': 2,
                            'text-outline-color': '#3366FF',
                            color: 'white',
                            'background-color': '#3366FF',
                            label: 'data(name)',
                            width: '100',
                            height: '100',
                            'background-fit': 'cover'
                        }
                    }]
            });
            var list = '#{companyList}'.split(',');
            for (var i in list) {
                cy.add({
                    data: {id: list[i], name: list[i].replace(/\_/g, " ")}
                });
            }
            cy.layout({
                name: 'grid'
            });

            cy.on('tap', 'node', function () {
                try {
                    var select = this.data('id');
                    location.href = '/company/job/' + select;
                } catch (e) {
                    //error catch
                }
            });
            cy.on('mouseover', 'node', function () {
                try {
                    var content = this.data('name');
                    $('.document').html('<div id="result">' + content + '</div>');
                } catch (e) {
                    console.log(e);
                }
            });
        };
